<html>

<head>
    <link rel="stylesheet" href="/css/welcome.css">
</head>

<div class="jumbotron text-center">
    <h3>Hi, my name is Antonio Lindo</h3>
    <h1 class="jumbotron-heading">Full Stack <br> Developer </h1>
</div>

</html>