<html>

<head>
    <link rel="stylesheet" href="/css/welcome.css">
    <link rel="stylesheet" href="/css/all">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<div class="jumbotron container text-center ">
    <h3 class="presentation">Hi, my name is Antonio Lindo <br> I am</h3>
    <h1 class="jumbotron-heading">Full Stack <br> Developer </h1>
    <a href="mailto:exemplo@email.com">
        <i class="icon bi-linkedin"></i>
        <i class="icon bi-github"></i>
        <i class="icon bi-file-earmark-pdf-fill"></i>
    </a>
</div>

</html>