<html>

<head>
    <link rel="stylesheet" href="/css/welcome.css">
    <link rel="stylesheet" href="/css/all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-Df6Vl4u6bz0qWc+F7J+8meo7LXIHv+Wj9D6VbW48E9df5f3JxL8gcrE4MVBgJuM9" crossorigin="anonymous">

</head>

<div class="jumbotron container text-center">
    <h3 class="presentation">Hi, my name is Antonio Lindo <br> I am</h3>
    <h1 class="jumbotron-heading">Full Stack <br> Developer </h1>
    <a href="mailto:exemplo@email.com">
        <i class="fa-brands fa-linkedin icon"></i>
        <i class="fa-brands fa-square-github icon"></i>
        <i class="fa-solid fa-file icon"></i>
    </a>
</div>

</html>