<%- include('partials/header') %>

    <body>
        <div class="container-fluid container-custom justify-content-center">
            <div class="row mb-2 text-center">
                <div class="col-6 bg-dark text-light">
                    <h2>Foto</h2>
                    <p>Nome</p>
                </div>
                <div class="col-6 bg-dark text-light">
                    <h2>“Hello World”</h2>
                    <h1>Based in Brazil,</h1>
                    <h1 class="text-danger">I’m a full-stack developer</h1>
                    <h3>Welcome to my portfolio <br>
                        website<h3>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>

    <%- include('partials/footer') %>