.jumbotron {
    align-items: flex-center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-weight: bold;
    font-size: 10rem;
}

.jumbotron-heading {
    align-items: start;
    font-size: 8rem;
}