.welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-grande {
    font-size: 100px;
}

.icon {
    color: #797979;
    font-size: 50px;
}